<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster's School</title>
</head>
<body>
    <h1>You entering Monster's school</h1>
    <h2>Chose the monster you want to learn about:</h2>
    <a href="/monsters/dracula">Dracula</a><br>
    <a href="/monsters/frankenstien">Frankenstien</a><br>
    <a href="/monsters/mummy">Mummy</a><br>
</body>
</html>